:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

}
ul,li{
  list-style: none;
}
* {
  margin: 0;
  position: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1200px;
  padding: 10px;
}